.about-text{
    max-width: 95%;
    line-height: 2em;
    color: var(--font);
}
h3, h2{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--secondary);
}
.about-image{
    width: 95%;
    border-radius: 10px;
}
#about{
    /* background-color: var(--primary); */
}
@media screen and (min-width:768px) {
 .about-text{
    max-width: 90%;
 }   
 .about-image{
    width: 90%;
 }
}