.about-text{
    max-width: 90%;
    line-height: 2em;
    color: var(--font);
}
h3, h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--secondary);
}
#about{
    /* background-color: var(--primary); */
}
@media screen and (min-width:768px) {
 .about-text{
    max-width: 80%;
 }   
}