.icon{
    height: 26px;
}
.contact{
    width: 100%;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: var(--secondary);
    cursor: pointer;
    outline: none;
}
a:hover{
    text-decoration: none;
    outline: none;
    
}
p{
    color: var(--secondary);
}
@media screen and (min-width:768px) {
    .contact{
        flex-direction: row;
        width: 95%;
    }
}