.department_images{
    width: 150px;
    border-radius: 10px;
}
.dep_name{
    width: 150px;
    color: var(--font);
}
.d_event:hover{
    transform: scale(1.1);
    transition: 1s;
}
@media screen and (min-width: 576px){
    .department_images, .dep_name{
        width: 200px;
    }
}
@media screen and (min-width: 768px) {
    .department_images{
        width: 300px;
    }
    .dep_name{
        width: 300px;
    }
}