.main_images{
    width: 150px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    cursor: pointer;
}
.main_images:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 0px;
}
@media screen and (min-width: 576px) {
    .main_images{
        width: auto;
        max-width: 200px;
        /* border: 2px solid #000; */
    }
}
@media screen and (min-width: 768px) {
    .main_images{
        width: auto;
        max-width: 300px;
        /* border: 2px solid #000; */
    }
}