html{
  scroll-behavior: smooth;
}
body{
  background-color: #1c1c1c;
  overflow-x: hidden;
  padding: 0;
  /* background-image: url('./assets/images/pattern_japanese-pattern-3_0.5_1_0-0_0_1__1c1c1c_8f0a65.png'); */
 
}
:root {
  --primary: #910A67;
  --secondary: aliceblue;
  --background: #1c1c1c;
}
@font-face {
  font-family: astera;
  src: url(./assets/fonts/ASTERA\ v2.ttf);
}
@font-face {
  font-family: syne;
  src: url(./assets//fonts//Syne-ExtraBold.ttf);
}